<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<script src="/javascript/navbar.js"></script>
	<link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="/css/w3.css"/>
	<title>Soccer Scores - Player History</title>
</head>

<body>
	<header>
		<div class="navbar" id="navbar-placeholder"></div>
	</header>

	<div class="body">
        <h1>
            Game History
        </h1>
		<div id="history">
            <%- results %>
			<div id="fulltime">
				<button onclick="window.location.href='/history';" class="logbtn">New Search</button>
			</div>
        </div>
	</div>
	
</body>

</html>