<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<script src="/javascript/navbar.js"></script>
	<link rel="stylesheet" href="/css/style.css"/>
	<title>Soccer Scores - Player History</title>
</head>

<body>
	<header>
		<div class="navbar" id="navbar-placeholder"></div>
	</header>

	<div class="body">
        <h1>
            Game History
        </h1>
		<form action=<%- localhost %> method="post">
            <fieldset class="fieldset-black">
                <legend>
                    <strong>Find Player</strong>
                </legend>
                <label>Manager Name: <input type="text" name="manager"/></label> <br>
            </fieldset>

            <br>
            <input class="logbtn" type="reset" />
            <input class="logbtn" type="submit" value="Find"/>
        </form>
	</div>
</body>

</html>