<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<script src="/javascript/navbar.js"></script>
	<link rel="stylesheet" href="/css/style.css"/>
	<title>Soccer Scores</title>
</head>

<body>
	<header>
		<div class="navbar" id="navbar-placeholder"></div>
	</header>

	<div class="body">
		<h1>Welcome Soccer Fans!</h1>
		<p>
			From the navigation bar, use the tables tab to look at the current leagues standings for the chosen league. <br>
			You can also navigate to the league tables through the footer below <br>
			If you are fans of the soccer board game, UND1C1, use the UND1C1 tab to start a new game or view history. <br>
		</p>
	</div>
	
	<footer class="footer">
		<img src="/images/prem.png" class="league-logo" onclick="window.location.href = '/prem'">
		<img src="/images/laliga.png" class="league-logo" onclick="window.location.href = '/laliga'">
		<img src="/images/ligueone.png" class="league-logo" onclick="window.location.href = '/ligueone'">
		<img src="/images/serie.png" class="league-logo" onclick="window.location.href = '/serie'">
		<img src="/images/bundesliga.png" class="league-logo" onclick="window.location.href = '/bundesliga'">
	</footer>

</body>

</html>
