<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<script src="/javascript/navbar.js"></script>
	<link rel="stylesheet" href="/css/style.css"/>
	<title>Soccer Scores - New Game</title>
</head>

<body>
	<header>
		<div class="navbar" id="navbar-placeholder"></div>
	</header>

	<div class="body">
        <h1>
            New Game - Setup
        </h1>
		<form action=<%- localhost %> method="post">
            <fieldset class="fieldset-white">
                <legend>
                    <strong>Team White</strong>
                </legend>
                <label for="home_manager">Manager Name</label>
                <input type="text" name="home_manager" required id="home_manager"><br>
			    <label for="home_team">Team Name</label>
                <input type="text" name="home_team" required id="home_team">
            </fieldset>

            <fieldset class="fieldset-black">
                <legend>
                    <strong>Team Black</strong>
                </legend>
                <label for="away_manager">Manager Name</label>
                <input type="text" name="away_manager" required id="away_manager"><br>
			    <label for="away_team">Team Name</label>
                <input type="text" name="away_team" required id="away_team">
            </fieldset>

            <br>
            <input type="reset" class="logbtn"/>
            <input type="submit" value="Create Game" class="logbtn"/>
        </form>
	</div>
	
</body>

</html>