<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/javascript/authenticate.js"></script>
</head>

<body>
    <div class="authenticate">
        <h1>Reset Password</h1>
        <hr>
        <p>
            An email has been sent to reset your password. Once you have reset your password, you can now <a href="/login">Login</a> with your new password.
        </p>
    </div>
</body> 