<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<script src="/javascript/navbar.js"></script>
	<link rel="stylesheet" href="/css/style.css"/>
	<title>Soccer Scores - Seria A</title>
</head>

<body>
	<header>
		<div class="navbar" id="navbar-placeholder"></div>
	</header>

	<div class="body">
		<div class="title"><img src="/images/serie.png" class="league-logo"> <strong>Serie A</strong></div>
		<%- table %>
	</div>
	
</body>

</html>